body {
    font-family: Roboto, sans-serif;
    background-color: #F5C7A9;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    background-color: #411530;
    color: #F5E8E4;
}

nav {
    background-color: #F5E8E4;
    color: #411530;
    display: flex;
    justify-content: space-evenly;
    padding: 1px;
}

.navButton {
    padding: 2em 4em;
    font-size: 1.5em;
    border-radius: 1em;
    border: none;
    background-color: #F5E8E4;
}

.navButton:hover {
    background-color: #411530;
    color: #F5E8E4;
}

.searchForm {
    display: flex;
    justify-content: center;
}

.search {
    border-radius: 10px;
    border: none;
}

.searchButton {
    background-color: #F5E8E4;
    border-radius: 10px;
}

.search:hover {
    border: 1px solid black;
}